{% extends "base.html" %}

{% block head %}{{ super() }}
    <style>
    .navbar{
        margin-bottom: 0;
    }
    </style>
{% endblock %}

{% block content %}
    <img src="{{ url_for('static', filename='img/header-copy.jpg') }}" id="bg"/>
    <div class="page-header col-md-12">
    	<h3>Welcome to Pair Programming</h3>
    </div>
    <div class="col-md-6">
    	<p>Get ready to have a productive session in <strong>3 Simple Steps</strong></p>
    	<h4><strong>
    		<ol type="1)">
  			<li>Create/Load Session</li><br>
  			<li>Invite Your Team</li><br>
  			<li>Chat🤓 & Code💻</li>
			</ol>
		</strong></h4>
    </div>
    <div class="col-md-4 col-md-offset-4">
            <div>

                <img src="{{ url_for('static', filename='img/test.png') }}">


            </div>
        

        
{% endblock %}